
<!----------------------- Asset List -------------------->
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-responsive-sm">
        <thead class="bg-secondary">
            <tr>
                <th class="heading" scope="col">Name</th>
                <th class="heading" scope="col">Description</th>
                <th class="heading" scope="col">Website</th>
                <th class="heading" scope="col">Date</th>
                <!-- <th class="heading" scope="col">Status</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scheme of schemes">
                <td style="font-weight: bold;">{{scheme.name}}</td>
                <td>{{scheme.description}}</td>
                <td> <a target="blank"  [href]="scheme.link">Click Here</a>  </td>
                <td>{{scheme.time|date:'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>